<!DOCTYPE html>
<html>

<head>
    <title>All Follows</title>
</head>

<body>
     From <input type="date" id="from">
     To  <input type="date" id="to">

    <button id='getCSV'>Get CSV</a>

    <script>
        document.querySelector("#getCSV").addEventListener('click', function(){
            let from = document.querySelector("#from").value;
            let to = document.querySelector("#to").value;

            if(from && to){
                document.location.href = `https://instagram-checker-api.herokuapp.com/csv?from=${from}&to=${to}`;
            } else {
                alert("Please select timespan");
            }
        });
    </script>
</body>

</html>